[submodule "submodules/asio"]
	path = submodules/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "submodules/uWebSockets"]
	path = submodules/uWebSockets
	url = git@github.com:uNetworking/uWebSockets.git
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = git@github.com:madler/zlib.git
